<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_BrazilianMarket>
            <version>1.0.0</version>
        </RicardoMartins_BrazilianMarket>
    </modules>
    <global>
        <models>
            <ricardomartins_brazilianmarket>
                <class>RicardoMartins_BrazilianMarket_Model</class>
            </ricardomartins_brazilianmarket>
        </models>
        <blocks>
            <ricardomartins_brazilianmarket>
                <class>RicardoMartins_BrazilianMarket_Block</class>
            </ricardomartins_brazilianmarket>
        </blocks>
        <helpers>
            <ricardomartins_brazilianmarket>
                <class>RicardoMartins_BrazilianMarket_Helper</class>
            </ricardomartins_brazilianmarket>
        </helpers>
        <events>
            <customer_address_format>
                <observers>
                    <ricardomartins_brazilianmarket>
                        <class>ricardomartins_brazilianmarket/observer</class>
                        <method>customizeAddressLabels</method>
                    </ricardomartins_brazilianmarket>
                </observers>
            </customer_address_format>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ricardomartins_brazilianmarket>
                    <file>ricardomartins/brazilianmarket.xml</file>
                </ricardomartins_brazilianmarket>
            </updates>
        </layout>
        <translate>
            <modules>
                <RicardoMartins_BrazilianMarket>
                    <files>
                        <default>RicardoMartins_BrazilianMarket.csv</default>
                    </files>
                </RicardoMartins_BrazilianMarket>
            </modules>
        </translate>
    </frontend>
</config>
